

        </div>

        <div class="footer" style="position: absolute; bottom: 0;">
            <p>Made with 💚 in India by Ashish</p>
            <a href=""><i class=" fa-brands-foot fa-brands fa-twitter"></i></a>
            <a href=""><i class=" fa-brands-foot fa-brands fa-facebook-f"></i></a>
            <a href=""><i class=" fa-brands-foot fa-brands fa-instagram"></i></a>
            <a href=""><i class=" fa-brands-foot fa-solid fa-envelope"></i></a>
            <p>© Copyright BlogWebsite</p>
        </div>


</body>